In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
pd.__version__

'2.2.3'

In [5]:
len(df)

2160

In [20]:
print(f"There are {len(df['Brand'].unique())} unique brands in the dataset.")

print(f"These unique brands are: {df['Brand'].unique()}")

print(df['Brand'].value_counts())

There are 27 unique brands in the dataset.
These unique brands are: ['Asus' 'Alurin' 'MSI' 'HP' 'Lenovo' 'Medion' 'Acer' 'Apple' 'Razer'
 'Gigabyte' 'Dell' 'LG' 'Samsung' 'PcCom' 'Microsoft' 'Primux' 'Prixton'
 'Dynabook Toshiba' 'Thomson' 'Denver' 'Deep Gaming' 'Vant' 'Innjoo'
 'Jetwing' 'Millenium' 'Realme' 'Toshiba']
Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Deep Gaming           8
Primux                8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

In [26]:
missing_cols_count = df.isnull().any().sum()
print (f"There are {missing_cols_count} columns with missing values.")

There are 3 columns with missing values.

In [27]:
max_dell_price = df[df['Brand'] == 'Dell']['Final Price'].max()
print(f"The maximum final price of Dell notebooks is {max_dell_price}")

The maximum final price of Dell notebooks is 3936.0

In [44]:
median_screen = df['Screen'].median()
print(median_screen)
most_frequent_screen = df['Screen'].mode()[0]
fill_missing_screen = df['Screen'].fillna(most_frequent_screen)
median_screen2 = fill_missing_screen.median()
print(median_screen2)

15.6
15.6

In [50]:
df[df['Brand']== 'Innjoo']

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [56]:
import numpy as np

# Select all "Innjoo" laptops and only the specified columns
innjoo_selected = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]

# Get the underlying NumPy array
X = innjoo_selected.values

# Compute XTX and its inverse
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

# Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Compute w
w = XTX_inv @ X.T @ y
print("Computed weights (w):", w)

sum_w = w.sum()
print(f"The sum of all elements in w is: {sum_w}")

Computed weights (w): [45.58076606  0.42783519 45.29127938]
The sum of all elements in w is: 91.2998806299555